@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		  url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		  url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		  url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	max-width: 100%;
	list-style: none;
	text-align: center;
	height: 100%;
	background: rgba(209, 211, 212, .5);
	opacity: .99;
}

.grd_box {
	position: relative;
	top: 31%;
	display:block;
	height:350px;
	padding:7px;
	margin:10px 0;
	overflow:hidden;
	white-space:nowrap;
	font-size:0;
}

/* ------------------------ Added for Mobile ----------------------------- */

#accord {
	height: 100%;
	overflow-y: scroll;
}

.no-padding { padding: 0 !important; }

.no-background { background: 0 !important; }

.panel-heading > img { width: 100%; }

p.mobile {
	color: #333333;
	text-align: left;
	margin-top: 10%;
}

#accordion > .panel > .panel-heading {
    	color: #FFFFFF;
		background: rgba(91, 111, 123, .80);
}


/* ----------------------------------------------------------------------- */

.box {
	height:100%;
	display:inline-block;
	font-size:16px;
	vertical-align:top;
	white-space:normal;
	zoom:1;
	padding-left: 5px;
	padding-right: 5px;
}

.half {
	width:50%;
	display:block;
}

.grd_box { 
	background: rgba(209, 211, 212, .5);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5); 
}

/*===========================================*/
/*  Header                                  */
/* ========================================*/

#navigation {
    -webkit-transition: all 0.8s ease 0s;
       -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
         -o-transition: all 0.8s ease 0s;
            transition: all 0.8s ease 0s;
    background-color: rgba(0,0,0,.7);
    border-top: 8px solid #ad0000;
    border-bottom: 0px;
    height: 70px;
}

#navigation.animated-header { padding: 0; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border: 0; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
}

h1.navbar-brand img {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    width:50px;
}

.navbar-brand {
    margin-top:0px;
    margin-left: 10%;
    height: auto;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
    background-color: transparent !important;
}

.headertext {
    visibility: visible;
    font-family: helvetica;
    font-size: 20px;
    color: white;
    padding-top: 0px;
    padding-left: 5px;
}

.headertextsmall { visibility: hidden; }

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

div.arrow-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ad0000;
    height: 0;
    margin: 0 auto;
    visibility: hidden;
    width: 0;
}

.social {
    padding:0;
}

.social-twitter {
    padding-right: 20px;
}

.social-icons {
    float: right;
    width: 25%;
}

.social-icons li {
    text-decoration: none;
    margin-top: -8px;
}

.social-icons a { margin-bottom: 0; }

#social {
    background-image: url(../img/slider/banner.jpg);
    padding: 0;
}

#social .overlay {
    background: url("../img/slide_bg.png") repeat scroll 0 0 transparent;
    padding: 100px 0 120px;
}

.social-button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-button li { display: inline-block; }

.social-button li:nth-child(2) { margin: 0 75px; }

.social-button li a {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 90px;
    line-height: 96px;
    width: 90px;
    -webkit-transition: all 0.2s ease 0s;
       -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
         -o-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}

.social-button li a:hover {
    color: #008ECC;
    border: 2px solid #008ECC;
}


/*-----------------*/

ul.navbar-right.social-icons {
	width: 35%;
	margin-right: -7%;
}

#drop-nav {
  float: right;
  margin-right: 5%;
/*	height: 128%;
	
	width: 18%;
	cursor: pointer;*/
}

.dropdown-menu {
	margin-left: 70% !important;
}

/*-----------------*/

.dropdown-toggle img {
    position: fixed;
    top: 0;
    margin-top: 14px;
}

body{ font-family:sans-serif; }

::-webkit-scrollbar { 
    display: none; 
}

/*==============================*/
/*  GRID                       */
/* ===========================*/

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin-top: 30px;
}

.grid figure p {
	letter-spacing: .5px;
	line-height: 20px;
	font-size: 68%;
	text-align: left;
	color: #F0F0F0;
	margin-left: 0;
	margin-right: 0;
	
    /*COLUMNS*/
    
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
       -moz-column-count: 3; /* Firefox */
            column-count: 3;
    -webkit-column-gap: 25px; /* Chrome, Safari, Opera */
       -moz-column-gap: 25px; /* Firefox */
            column-gap: 25px;
}

.lines-10 { font-size: 61% !important; }

  /* inner box effect */
  
figure.effect-layla {
  display: block;
  background: rgba(91, 111, 123, .80);
}

figure.effect-layla img { width: 100%;    /*change width in two places*/ }

figure.effect-layla figcaption { padding: .9em; }

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 85px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	padding-bottom: 25px;
	padding-top: 50px;
	opacity: 10%; 
}

figure.effect-layla img {
	width: 100% ;   /*change width in two places*/
	height: auto;
}

figure.effect-layla h2 { width: 100%; }

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	        transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {   /*IMG ON HOVER*/
	opacity: 1; 
	width:100%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	padding-top: 0px;
	margin-top: 20px;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

/*-----Top Section*/
/*----------------*/


.top-section {
	height:99%;
	border-bottom: 5px solid rgba(209, 211, 212, 1);
}

/*-----Bottom Section*/
/*-------------------*/

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 55px;
  margin-left: 55px;
}

.bottomsection {
  background-color: #263238;
  overflow: hidden;
  padding: 0;  
  width: 100%;
}

.no-accordion {
	
}

/*-----CSS Animation ONE*/
/*----------------------*/

.bottomsection--one-text {
    color: #000;
    background-color: black;
    float: right;
    font-size: 4.5em;
    text-align: center;
    width: 100%;
    opacity: .25;
    transform: translateY(-300px);
    transition: all 1s ease .15s;
    will-change: transform;
    margin-top: 50px;
    margin-bottom: 25px;
}

.visible .bottomsection--one-image,
.visible .bottomsection--one-text {
   transform: translateX(0);
   opacity: 1;
}

/*-----CSS Animation TWO*/
/*----------------------*/

.bottomsection-two-left {
  overflow: hidden;
  padding-top: 55px;
  margin: 0;
  width: 35%;
  float: left;
}

.bottomsection-two-right {
  background-color:;
  overflow: hidden;
  width: 65%;
  float: right;
}

.bottomsection--two-text {
	padding-right: 50px;
  padding-left: 50px;
  display: inline-block;
  color: black;
  float: right;
  font-size: 1em;
  line-height: 30px;
  text-align: left;
  padding-top: 75px;
  opacity: 0;
  transform: translateX(300px);
  transition: all 1s ease .15s;
  will-change: transform;
}
.bottomsection--two-image {
   margin-left: 60px;
   opacity: 0;
   left:0;
   width: 86%;
   height: auto;
   transform: translateX(-300px);
   transition: all 1s ease .15s;
   will-change: transform;
}

.visible .bottomsection--two-image,
.visible .bottomsection--two-text {
   transform: translateX(0);
   opacity: 1;
}

ul li {
    margin-left: 5px;
    color: #000;
}

/*-----CSS Animation THREE*/
/*------------------------*/

.bottomsection-right-button {
    display: flex;
    color: black;
    float: left;
    font-size: 1em;
    text-align: left;
    width: 100%;
    padding:35px;
    opacity: 1;
    transform: translate(00px);
    transition: all 1s ease .15s;
    will-change: transform;
}

.visible .bottomsection-right-button,
.visible .bottomsection-right-button {
   transform: translateX(0);
   opacity: 1;
}

.btn {
    color:  #fff;
    background: rgba(91, 111, 123, .80);
    margin-top:25px;
    width: 15%;
}

.do-btn {
    position: static;
    left: 34%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px !important;
}

.btn-large { border-radius: 2px; }

/*==============================*/
/*  VIDEO BACKGROUND           */
/* ===========================*/

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: white;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42%;
}
  
.fullscreen-box {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
}

/*==============================*/
/*  MEDIA QUERIES              */
/* ===========================*/

/*==========================================================
    Tablet (Portrait) Design for a width of 768px
============================================================*/

@media (min-width: 1450px) {
  .lines-10 { font-size: 80% !important; }
}

@media (max-width: 1250px) {
	h2, .h2 {
    	font-size: 20px !important;
    	color:pink;
	}

	.grid figure p { 
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		-webkit-column-gap: 25px; /* Chrome, Safari, Opera */
		-moz-column-gap: 25px; /* Firefox */
		column-gap: 25px;
	}

	.grid figure figcaption, .grid figure figcaption > a { overflow: scroll; }

	.bottomsection--two-image { width: 83%; }
}

@media (min-width: 1110px) { ul.nav.navbar-nav { padding-right: 10%; } }

@media (max-width: 1109px) { ul.nav.navbar-nav { padding-right: initial; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .dropdown-menu {
      position: relative;
      margin-top:-1.1% !important;
      margin-left: 37%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
	.box { display: block; }
	.grd_box {
    	position: relative;
    	top: 8%;
    	height:92%;
	}
	.fullscreen-bg__video { display: none; }
	figure.effect-layla { display: none; }
	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		border-top-color: #ddd;
		color:#333;
		text-align: left;
		font-size: 17px;
		line-height:25px;
		height: 65% !important;
	}
    .nav>li { display:none !important; }
    
/*	.panel-default>.panel-heading {
		color: #fff !important;
		background: rgba(91, 111, 123, .80) !important;
	}
*/

	.panel-title { 
		font-size:20px !important;
		text-transform: uppercase !important;
	}
	.bottomsection-two-left { width: 100%; }
	.bottomsection-two-right { width: 100%; }
  .dropdown-menu {
    position: relative;
    margin-top: .4% !important;
    margin-left: 37%;
   }  
}

@media only screen and (max-width: 815px) {
    .dropdown-menu {
    margin-top: -26.3%;
    margin-left: .4in;
    }
}

@media only screen and (max-width: 767px) {
    .dropdown-menu {
        margin-top: -.2in !important;
        margin-left: 37%;
    }
}

@media screen and (max-width: 600px) {    
	.visible .bottomsection--one-image,
	.visible .bottomsection--one-text,
	.visible .bottomsection--two-image,
	.visible .bottomsection--two-text,
	.visible .bottomsection--three-image,
	.visible .bottomsection--three-text {
    	display: block;
    	font-size: 1em;
    	float: none;
    	height: auto;
    	margin: 10px auto 0;
    	width: 96%;
    }
	.bottomsection--two-text {
    	padding-right: 10px;
    	padding-left: 10px;
    }  
}

@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video { width: 100%; height: auto; }
}

@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video { width: auto; height: 100%; }
}

@media (max-width: 767px) {
	.fullscreen-bg { background: url('../img/videoframe.jpg') center center / cover no-repeat; }
	.fullscreen-bg__video { display: none; }
	.box { display: block; }
	.grd_box {
    	position: relative;
    	top: 8%;
    	height:92%;
	}
	figure.effect-layla { display: none; }
	.nav > li { display:none !important; }
	.panel-default>.panel-heading+.panel-collapse>.panel-body {
    	color: #333;
    	border-top-color: #ddd;
    	text-align: left;
    	font-size: 17px;
    	line-height:25px;
    	height: 65% !important;
	   }
  	.headertext {
  		visibility: hidden;
  		display:none;
  	}
  	.headertextsmall { 
    	visibility: visible;
    	font-family: helvetica;
    	font-size: 20px;
    	letter-spacing: 5px;
    	color: white;
    	padding-top:12px;
    	padding-left: 5px;
    }
	.panel-default>.panel-heading {
    	color: #fff !important;
    	background: rgba(91, 111, 123, .80) !important;
	}
	.panel-title { 
    	font-size:20px !important;
    	text-transform: uppercase !important;
    }
  	.panel-body {
    	overflow: scroll;
    	text-align: left;
	}
	.bottomsection-two-left { width: 100%; }
	.bottomsection-two-right { width: 100%;}
	.bottomsection--two-image { transition: none; }
	.bottomsection-right-button { display: block; }
	.btn { width: 100%; }
	.bottomsection--two-text { padding-top: 25px; }
}
