html {
  overflow-y: scroll;
  height: 100%;
}
body {
  line-height: 1.7em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #474f5b;
  background-color: #FFFFFF;
  color: #656565;
  height: 100%;
}
#header,
.parallax-bg1,
.parallax-bg2,
.parallax-bg3 {
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.container {
  max-width: 1080px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.container.no-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.parallax-bg1 {
  background: url("../img/parallax-bg1.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
}
.parallax-bg2 {
  background: url("../img/parallax-bg2.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
}
.parallax-bg3 {
  background: url("../img/parallax-bg3.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
}


/***************************
Header
***************************/

#header {
  background: url("../img/header_bg.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
  display: table;
  width: 100%;
}
#header .container {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
